@charset "utf-8";

// Set your brand colors
$blue: #0053b3;
$light-blue: #006be6;
$dark-blue: #003b80;
$lighter-blue: #b4e1fa;
$white: #fff;
$lightest-grey: #fafbfc;
$lighter-grey: #ebeff3;
$light-grey: #c9d3df;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$darkest-grey: #26353f;
$black: #1c1c1c;
$green: #03bd5b;
$light-green: #daf5e7;
$orange: #ff9947;
$light-orange: #fff0e4;
$red: #d63626;
$dark-red: #ab2b1e;
$light-red: #efaca6;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;

$family-sans-serif: "Source Sans Pro", Arial, sans-serif;

$grey-dark: $darkest-grey;
$grey-light: $light-grey;

$primary: $blue;
$link: $dark-red;
$info: $light-blue;
$success: $green;
$warning: $orange;
$danger: $red;
$dark: $black;
$text: $darkest-grey;

// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$background: $lighter-grey;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "bulma-0.7.5/sass/utilities/_all";
@import "bulma-0.7.5/sass/form/_all";
@import "bulma-0.7.5/sass/base/_all";
@import "bulma-0.7.5/sass/components/_all";
@import "bulma-0.7.5/sass/elements/_all";
@import "bulma-0.7.5/sass/grid/_all";
@import "bulma-0.7.5/sass/layout/_all";

@import url('https://template.data.gouv.fr/fonts/Source%20Sans%20Pro/SourceSansPro-Regular.otf');
@import url('https://template.data.gouv.fr/fonts/Source%20Sans%20Pro/SourceSansPro-Bold.otf');
@import url('https://template.data.gouv.fr/fonts/Source%20Sans%20Pro/SourceSansPro-It.otf');
@import url('https://template.data.gouv.fr/fonts/Evolventa/Evolventa-Regular.ttf');
@import url('https://template.data.gouv.fr/fonts/Evolventa/Evolventa-Bold.ttf');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "Evolventa", "Trebuchet MS", sans-serif;
}

h1 {
    font-size: 2em;
    line-height: 1.125em;
}
h2 {
    font-size: 1.75em;
    line-height: 1.25em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.125em;
}
h6 {
    font-size: 1em;
    
}

.hero-body {
    background-color: white;
}

.section {
    padding: 3em 0;
    box-sizing: border-box;
}

.section-grey {
    background-color: $lightest-grey;
}

.section-dark {
    background-color: black;
    color: white;
}

.section-dark * {
    color: white;
}

.section-color {
    background-color: $primary;
    color: white;
}

.section-color * {
    color: white;
}

.hero.is-primary .title { 
    color: $darkest-grey; 
}

.footer {
    background-color: black;
    color: white;
}

.footer h1 {
    background-color: black;
    color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer__social {
  margin-top: 1em;
}

.footer__social li {
  display: inline;
  margin-right: 1em;
}

.footer__social .icon {
  width: 35px;
  height: 35px;
  fill: white;
}

.footer__links {
  margin: 0;
  line-height: 2em;
}

.footer__links h2 {
  margin-top: 0;
  margin-bottom: .8em;
}

.footer__links a {
  color: white;
  text-decoration: none;
}

.footer__links a:hover {
  background: darkgrey;
}

.footer__logo {
  width: 300px;
  height: auto;
}

.footer__logo img {
  max-height: 60px;
}

.button {
    border-radius: 3px;
    border: 0px;
}

.card {
    border-radius: 2px;
    border: 1px solid var($light-grey);
}

a, button {
    cursor: pointer;
}

a, a:hover, a:focus, a:visited, a:active {
    color: $primary;
}

.footer a {
    color: $lightest-grey;
}

.footer a:hover {
    color: white;
}

.navbar-end a.navbar-item {
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding: 0.4em 0.8em;
    margin: 0.2em 0.4em;
}

.navbar-end a.navbar-item:hover {
    background-color: $lighter-grey;
    color: black;
}
