@charset "utf-8";

// Set your brand colors
$blue: #0053b3;
$light-blue: #006be6;
$dark-blue: #003b80;
$lighter-blue: #b4e1fa;
$white: #fff;
$lightest-grey: #fafbfc;
$lighter-grey: #ebeff3;
$light-grey: #c9d3df;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$darkest-grey: #26353f;
$black: #1c1c1c;
$green: #03bd5b;
$light-green: #daf5e7;
$orange: #ff9947;
$light-orange: #fff0e4;
$red: #d63626;
$dark-red: #ab2b1e;
$light-red: #efaca6;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;

$grey-dark: $darkest-grey;
$grey-light: $light-grey;

$primary: $blue;
$link: $dark-red;
$info: $light-blue;
$success: $green;
$warning: $orange;
$danger: $red;
$dark: $black;
$text: $darkest-grey;
       
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$background: $lighter-grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "bulma-0.7.5/sass/utilities/_all";
@import "bulma-0.7.5/sass/base/_all";
@import "bulma-0.7.5/sass/components/_all";
@import "bulma-0.7.5/sass/elements/_all";
@import "bulma-0.7.5/sass/grid/_all";
@import "bulma-0.7.5/sass/layout/_all";
